<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true"></label>

					<label for="username">username</label>
					<input class="form-control " name="usernameInput" [(ngModel)]="usernameInput"   type="text" id="username" required>
				  <label for="quote">Quote:</label>
				  <input class="form-control" type="text" name="quoteInput" [(ngModel)]="quoteInput" id="quote" required>

				  <label for="password">Password</label>
				  <input class="form-control" name="passwordInput" [(ngModel)]="passwordInput" type="password" id="password" required>
					<button type="button"  (click)="addUser()">Sign up</button>
				</form>
			</div>
	</div>
</body>
</html>