<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="float-start">
          <a class="navbar-brand" href="#"><img class="img-user" src="../../assets/user.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            </div>
          <div class="nav-right collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                 <a routerLink="/favourite" class="nav-link active" aria-current="page"><img class="fav-icon" src="../../assets/favourite.png">
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/delete" class="nav-link" href="#"><img src="../../assets/delete.png"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link">{{loggedUser}}</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

</body>
</html>