<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
      rel="stylesheet"/>
  </head>

  <body>
    <div>
      <div class="bg d-flex">
        <img src="../../assets/todo.png" />
        <h2>To-Do List App</h2>
      </div>
      <form (submit)="addTodo()" id="styling">
        <div class="input-group w-75 mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Add Your To Do..."
            name="inputToDo"
            [(ngModel)]="inputToDo"
          />
          <input
            class="btn bg-white"
            type="submit"
            value="Add To Do"
            class="todo-submit"
          />
        </div>
      </form>

      <div *ngFor="let todo of todos; let i = index" class="d-flex m-3">
        <div id="todo">
          <input type="checkbox" (click)="completedTodo(i)" />
          <label [ngClass]="todo.completed == true ? 'checkTodo' : ''">{{
            todo.todo
          }}</label>
        </div>
        <div id="btn_todo">
          <button
            class="btn btn-outline-danger bg-danger text-white"
            type="button"
            (click)="deleteTodo(i)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
